.inp_search {
    width: 300px;
    height: 32px;
    border-radius: 25px;
    outline: none;
    color: #616a8b;
    font-size: 16px;
    line-height: 19px;
    background-color: #161245;
    background-image: url('/icons/search.png');
    background-position-y: center;
    background-position-x: 265px;
    background-repeat: no-repeat;
    padding: 0 20px 0 20px;
}

.shadow_gradient {
    filter: drop-shadow(0px 0px 12px #018FFF26);
}

.news_blc {
    width: 410px;
    height: 232px;
    background: linear-gradient(185.19deg, rgba(27, 18, 78, 0.2) 3.73%, #0F0B38 95.83%);
    border-radius: 5px;
    padding: 16px 24px 16px 24px;
    overflow: auto;
}

.news_blc::-webkit-scrollbar {
    display: none;
}